<div class="row" ui-tree="treeOptions" data-drag-enabled="tree.enabled" data-max-depth="5" data-drag-delay="500">
    <div class="col-md-12">
        <h3 class="board-view__column-name">To do</h3>
    </div>
    <div ui-tree-nodes ng-model="$ctrl.boardService.selectedField">
        <div class="col-md-12" ng-repeat="task in $ctrl.boardService.taskList" ui-tree-node>
            <div class="panel panel-primary" ui-tree-handle>
                <div class="panel-heading">
                    <h3 class="panel-title">{{task.name}}</h3>
                </div>
                <div class="panel-body">
                    {{task.description}}
                </div>
                <a href="" ng-click="$ctrl.boardService.removeSelectedField()">Remove</a>
            </div>
        </div>
    </div>
</div>