<div class="board-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="board-view__column">
                    <board-list></board-list>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board-view__column">
                    <board-list></board-list>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board-view__column">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="board-view__column-name">On review</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="board-view__column">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="board-view__column-name">Done</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>