<div class="board-view">
    <div class="container-fluid">
        <board-form></board-form>
        <div class="row">
            <div class="board-view__todo-row">
                <div class="col-md-3">
                    <div class="board-view__row-header">
                        <div class="row">
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                    <div class="row">
                        <board-list></board-list>
                    </div>
                </div>
            </div>
            <div class="board-view__procces-row">
                <div class="col-md-3">
                </div>
            </div>
            <div class="board-view__review-row">
                <div class="col-md-3">

                </div>
            </div>
            <div class="board-view__done-row">
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</div>